	h1{
		font-size: 40px;
		font-family: serif;
		background-color: #f3f372;
		height: 80px;
		width: 200px;
	}

	p{
		font-size: 20px;
		font-family: "Lucida Grande";
	}

	img{
		height: 50px;
		width: 70px;

	}

	.list{
		color: red;
	}
	